/* ==============================================
   FONTS
   ============================================== */
 
   /* ==============================================
      COLORS
      ============================================== */
   
   
   /* ==============================================
      GLOBAL STYLES
      ============================================== */

       /*border: solid 1px green;*/



   .movie{
       display: flex

    }   

    h1{ 
        font-size: 14pt;
        font-style: bold;
    }
    
    
    h2{ 
        font-size: 11pt;
    
    }
    
    p{
         font-size: 8pt;
    
    }
    
     
    .imgarrow{
        height: 10px;
         width: auto;
            
     }
        
    .my-footer{ 
        display: flex;
        flex-direction: row;
        justify-content: space-between;   
        padding-right: 60px;
        padding left: 60px
            
    }

    

  .imgartevelde{
    margin-left: 15%;
      width: 30%;
      height: auto;
  }
  
  
   /* MEDIA QUERIES
   *********************************************/

   
   /* Extra small devices (portrait phones, less than 576px)
   // No media query for `xs` since this is the default in Bootstrap*/

   
   /* Small devices (landscape phones, 576px and up)*/
   @media (min-width: 576px) {
       
    }

        

   /* Medium devices (tablets, 768px and up)*/
   @media (min-width: 768px) {  }

   
   /* Large devices (desktops, 992px and up)*/
   @media (min-width: 992px) {  }

   
   /* Extra large devices (large desktops, 1200px and up)*/
   @media (min-width: 1200px) {  }

 